@using MovieReviewApp.Models
@model List<Movie>
@{
    Layout = "~/Views/Shared/UserLayout.cshtml";
    if (ViewBag.userRole == "User")
    {
        Layout = "~/Views/Shared/UserLayout.cshtml";
    }
    else if (ViewBag.userRole == "Admin")
    {
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }
}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Movie List Filter</h5>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Movie" asp-action="Movies">
                    <div class="row mb-3">
                        <div class="form-group col-md-4">
                            <label for="genreId">Genre</label>
                            <select class="form-control" name="GenreId">
                                <option value="0">All Genres</option>
                                @foreach (Genre genre in ViewBag.Genres)
                                {
                                    if (ViewBag.LastQuery.GenreId==genre.Id)
                                    {
                                        <option value="@genre.Id" selected>@genre.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@genre.Id">@genre.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="year">Year</label>
                            <input type="number" class="form-control" name="Year" value="@ViewBag.LastQuery.Year">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="name">Movie Name</label>
                            <input type="text" class="form-control" name="Name" value="@ViewBag.LastQuery.Name">
                        </div>
                    </div>
                    <div class="row mb-3 justify-content-center">
                        <div class="form-group col-md-4">
                            <label for="year">Page Number</label>
                            <input type="number" class="form-control" name="PageNumber" value="@ViewBag.LastQuery.PageNumber">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="name">Page Size</label>
                            <input type="number" class="form-control" name="PageSize" value="@ViewBag.LastQuery.PageSize">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Apply Filter</button>
                    @if (ViewData.ModelState.ErrorCount > 0)
                    {
                        <div class="alert alert-danger mt-3" role="alert">
                            @foreach (var modelState in ViewData.ModelState.Values)
                            {
                                foreach (var error in modelState.Errors)
                                {
                                    <div>@error.ErrorMessage</div>
                                }
                            }
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
@if (Model.Count == 0)
{
    <h5 class="text-center">There is no movie by these filters</h5>
}
else
{
    <div class="row card-container">
        @foreach (var movie in Model)
        {
            <div class="col-md-4 mb-4 movie-card">
                <div class="card">
                    @if (movie.PosterImage == string.Empty)
                    {
                        <img src="~/img/nophoto.png" class="card-img-top">
                    }
                    else
                    {
                        <img src="~/img/Movie/@movie.PosterImage" class="card-img-top">
                    }
                    <div class="card-body">
                        <a asp-controller="Movie" asp-action="MovieDetails" asp-route-id="@movie.Id">
                            <h5 class="card-title">@movie.Name</h5>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}