@using MovieReviewApp.Models
@model Movie
@{
    ViewData["Title"] = "MovieDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="row">
    <div class="movie-details col-md-4">
        <div class="w-100">
            @if (Model.PosterImage == string.Empty)
            {
                <img style="width:100%" src="~/img/nophoto.png" />
            }
            else
            {
                <img style="width:100%" src="~/img/Movie/@Model.PosterImage" />
            }
        </div>
        <div>
            <h5>@Model.Name</h5>
            <table class="table table-bordered">
                <tr>
                    <th>Genre</th>
                    <td>@Model.Genre.Name</td>
                </tr>
                <tr>
                    <th>Year</th>
                    <td>@Model.Year</td>
                </tr>
                <tr>
                    <th>Actors</th>
                    <td>
                        <ul>
                            @foreach (var actor in Model.Actors)
                            {
                                <li><a asp-controller="Actor" asp-action="Index" asp-route-id="@actor.Actor.Id">@actor.Actor.FullName</a></li>
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>@Model.Description</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="comment-list col-md-8">
        <div class="row d-flex justify-content-center">
            <div class="col-md-11 col-lg-10">
                <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                    <div class="card-body p-4">
                        @if (ViewData["userId"] != null)
                        {
                            <form method="post" class="form-outline mb-4" asp-action="CommentAdd" asp-controller="Comment">
                                <input type="text" class="form-control" placeholder="Type comment..." name="Text" />
                                <select class="form-control my-4" name="Rating">
                                    <option value="0">Rating</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <input type="hidden" name="UserId" value="@ViewData["userId"]" />
                                <input type="hidden" name="MovieId" value="@Model.Id"/>
                                <input type="submit" value="Send" class="btn btn-success"/>
                            </form>
                        }
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <p class="col-md-8">@comment.Text</p>
                                        <p class="small mb-0 ms-2 col-md-3">@comment.Date</p>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                            <b class="small mb-0 ms-2">@comment.User.UserName</b>
                                        </div>
                                        <div class="d-flex flex-row align-items-center">
                                            <i class="fa-solid fa-star" style="margin-top: -0.16rem;color: #FFD43B;"></i>
                                            <p class="small text-muted mb-0">@comment.Rating</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>